:root {
  --light: #9f1313;
  --dark: #8d1212;
}
html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu{ display: none; }
  .navbar .nav-item .nav-link{ border-bottom:3px solid white;  }
  .navbar .nav-item:hover .nav-link{ border-bottom:3px solid var(--light);  }
  .navbar .nav-item:hover .dropdown-menu{ display: block; }
  .navbar .nav-item .dropdown-menu{ margin-top:0; }
 
  
}
@media all and (max-width: 992px){
  .pic{display: none;}
  .signup-cls{   margin-top: 15% !important;}
  .signin-cls .card{border:none; box-shadow: none !important;}
  .media{display: none;}
  .empass{flex-direction: column ;}
}

nav {
  /* border-bottom:1px solid #ede4e4; */
  background-color: white;
}
.comp1{
  width: 22rem;
  /* margin: 90px 80px; */
  border: none;
  /* margin-left: 12%; */
}
.comp{
  margin: 90px 0px;
}
.text-color{
  color: var(--dark);
}
.bg-color{
  background-color: var(--dark);
}
.btn1:hover{
  background-color: var(--light);
  border-color: var(--dark);
  
}
.bd-color{
  border-color: var(--dark);
}
.navbar-light .navbar-brand{
  color: var(--dark);
}
.navbar-light .navbar-brand:hover{
  color: var(--light);
}
.navbar-brand{
  font-size: 25px;
}
.link-hover :hover{
  color: var(--dark);
}
.form-check-label-color{
  color: var(--dark);
}
.form-outline{
  width: 75%!important;
}
.form-control:focus {
  border-color:var(--dark);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--light);
}